<div class="food-item">
    <div class="food-item-prop">
        <img src="../uploaded_images/{{item.image_name}}" onload="checkCart('{{ item.id }}')">
        <div class="food-item-buttons">
            <a id="addToCartButton{{ item.id }}" onclick="addToCart('{{ item.id }}')" class="food-item-button">В корзину</a>
            <a id="removeFromCartButton{{ item.id }}"
               onclick="removeFromCart('{{ item.id }}')"
               class="food-item-button" style="display: none">Убрать из корзины
            </a>
        </div>
    </div>
    <div class="food-item-title">
        <a href="../controllers/dish_page.php?id={{item.id}}">{{ item.dishName | slice(0, 18) ~ (item.dishName|length > 15 ? '...' : '') }}</a>
        <span class="food-item-price">₽ {{ item.cost }}</span>
    </div>
</div>