{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main_styles.css">
    <link rel="stylesheet" href="../styles/main_page.css">
    <title>Главная</title>
</head>
<body>
    <div id="menu">
        <a href="#">
            На главную
        </a>
        <a href="#">
            О нас
        </a>
    </div> #}

{% extends "base.html.twig" %}
{% block content %}
    <div class="food-page-item">
        <h1 class="food-page-item-mobile">{{ dish.dishName }}</h1>
        <div class="food-page-item-img">
            <img src="../uploaded_images/{{dish.image_name}}">
        </div>
        <div class="food-page-item-description">
            <h1>{{ dish.dishName }}</h1>
            <span class="food-page-item-cost">₽ {{ dish.cost }}</span>
            <p>{{dish.description}}</p>
            <button class="food-page-item-btn">
                Добавить в корзину
            </button>
        </div>
    </div>
{% endblock %}
{# </body>
</html> #}